.avatar {
  margin-inline-start: auto;
  color: var(--azure);
  background-color: transparent;
  padding: 0.875rem;
  outline: none;
  border: var(--common-border);
  border-radius: 50%;
  cursor: pointer;
}

span {
  display: inline-block;
  display: flex;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}