.appTitle {
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-bold);
  font-size: 1.875rem;
  color: var(--azure);
  text-decoration: none;
  user-select: none;
}

.appTitle:hover {
  color: var(--grey-888);
}

.appTitle:active {
  color: var(--black-two);
}
